<% if(success){%>
    <div class="alert alert-success" role="alert">
        
        <%=success%>
    </div>
<%}%>

<% if(failure){%>
    <div class="alert alert-success" role="alert">
        
        <%=success%>
    </div>
<%}%>