.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/*Footer*/

.f-info {
    background-color: #ebebeb;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    color: #333;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.f-info-socials {
    margin-bottom: 20px;
}

.f-info-socials i {
    font-size: 20px;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s ease;
}

.f-info-socials i:hover {
    color: #007bff; /* Change hover color as needed */
}

.f-info-links a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.f-info-links a:hover {
    color: #007bff; /* Change hover color as needed */
}

/* Additional styling for the copyright text to differentiate it from links */
div > div:not(.f-info-socials):not(.f-info-links) {
    margin-bottom: 20px;
}
.f-info-links a {
    color: #000; /* Black color */
    text-decoration: none; /* Removes underline */
    margin: 0 15px;
    transition: color 0.3s ease;
}

.f-info-links a:hover {
    text-decoration: underline; /* Shows underline on hover */
}


.card-img-top {
    height: 200px !important;
    object-fit: cover !important;
    object-position: center !important;
  }
  

.card {
    height: 100%; /* Make card heights equal within the same row */
    display: flex; /* Enables flexible layouts */
    flex-direction: column; /* Stack card content vertically */
    border: 2px solid black; /* Adds a black border around the card */
    position: relative; /* Required for the overlay to position correctly */
    transition: 0.3s; /* Smooth transition for any changes */
  }
  
.card-body {
    flex-grow: 1; /* Allows the card body to expand to fill available space */
    display: flex; /* Enables flexible layouts */
    flex-direction: column; /* Stack card body content vertically */
    justify-content: space-between; /* Distributes space between and around content items */
  }
  
.listing_link{
    text-decoration: none;
}

  
.card {
    height: 100%; /* Make card heights equal within the same row */
    display: flex; /* Enables flexible layouts */
    flex-direction: column; /* Stack card content vertically */
    border: 2px solid black; /* Adds a black border around the card */
    position: relative; /* Required for absolute positioning of children */
    transition: transform 0.3s ease; /* Smooth transition for transform */
    overflow: hidden; /* Ensures that the scaled card does not overflow its container */
}

.card-body {
    flex-grow: 1; /* Allows the card body to expand to fill available space */
    display: flex; /* Enables flexible layouts */
    flex-direction: column; /* Stack card body content vertically */
    justify-content: space-between; /* Distributes space between and around content items */
}

.listing_link {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05); /* Scales up the card a little bit on hover */
}
