<% layout('/layouts/boilerplate') -%>

<link rel="stylesheet" href="/css/signup.css">
<body>
  <div class="container">
    <div class="form-container">
      <h2>Sign In</h2>
      <form action="/signin" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Sign In</button>
      </form>
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
  </div>
</body>